.prog-card-container{
    display: flex;
    flex-direction: row;
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr 1fr;*/
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.app-footer {
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    max-width: 95%;
    box-sizing: border-box; /* Перенесено в блок свойств */
    padding: 10px 20px;
    border: 2px solid #5d191d;
    border-radius: 7px;
    background: linear-gradient(white, 90%, #E1BEC0);
}

.app-footer h1{
    color:#670101;
    font-weight:bold;
    font-size: 4vw;
    text-align:center;
    margin-bottom:3vh;
}
