*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.red_line{
width: 100%;
height:15px;
background-color:#670101;
opacity: .8;
}

.info_wrapper{
    width:45rem;
    margin-top:5rem;
    margin-bottom:10rem;
    margin-left:auto;
    margin-right:auto;
    height:20rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.info_wrapper p{
    margin-left:auto;
    margin-right:auto;
    width: 40rem;
    text-align:center;
    color:black;
    font-size:1.2rem;
}

.info_wrapper h1{
    margin-left:auto;
    margin-right:auto;
    margin-bottom:1rem;
    width: 40rem;
    text-align:center;
    font-weight:bold;
    color:#670101;
    font-size:1.4rem;
}
