.cont {
    margin: 0;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pers-day-card {
    width: 650px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #4e4e50;
    border-radius: 7px;
    padding: 10px;
    text-align: center;
    background: #4e4e50;
}

.pers-day-card .class-text {
    text-align: center;
    width: 450px;
}

.day-image {
    height: 550px;
}
