
.person-card {
    width: 30rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #4e4e50;
    border-radius: 7px;
    padding: 5px;
    text-align: center;
    background: #fff;
    color:#000;
    flex-wrap: wrap;
}

.person-card:hover{

    background: radial-gradient(white 70%, #E1BEC0);
     -webkit-transition: all 2s ease;
        transition: all 2s ease;
}

.pers-day-card .class-text {
    align-items: center;
    width: 100%;
    /*font-size:*/
}

.class-text h2 {
    font-weight: bold;
    color:#5D181D;
    font-size: 3.5vw;
}

p {
     color:black;
     font-size: 3vw;
     text-align:center;
}
.person-card img{
    max-width:80%;
    width:auto;
    height:60%;
}

.button{
    max-width:80%;
    text-align:center;
}


