.prog-card{
    width: 12rem;
    height: 15rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    justify-content: space-around;
    align-items:center;
    border: 2px solid #670101;
    padding: 7px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    border-radius:6px;
}
.progimages{
    width: 80%;
    height: 70%;
}

.prog-card h2{
   font-weight:bold;
   color:#670101;
   font-size:1rem;
}

.prog-card a{
    font-weight:bold;
    color:#670101;
    font-size:1rem;
}
.prog-card: hover{
    background-color:blue;
}

