.prog-card{
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid #ddd; /* Ширина и цвет границы */
    padding: 10px; /* Добавление отступа внутри контейнера */
    margin: 10px;
    text-align: center;
}
.progimages{
    width: 100px;
    height: 100px;
}