/* styles.css */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.person-card {
    margin: 10px;
    /* Добавьте другие стили по вашему усмотрению */
}
.main{
    align-content: center;
}
